
# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=10000
setopt autocd beep extendedglob nomatch notify

# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '/home/mlb/.zshrc'

autoload -Uz compinit
compinit

{% if kubernetes_access | default(false) %}
# kubernetes
source <(kubectl completion zsh)
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
{% endif %}

if ! pgrep -u "$USER" ssh-agent > /dev/null; then
    eval "$(ssh-agent -s)" &>/dev/null
    ssh-add ~/.ssh/id-ansible &>/dev/null
fi

# aliases

alias vim=nvim
alias n=nvim

alias t=btop

alias m=tree

alias g=git

alias k=kubectl

alias s=sudo

alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'