
# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=10000
setopt autocd beep extendedglob nomatch notify
bindkey -v
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '/home/mlb/.zshrc'

autoload -Uz compinit
compinit

{% if kubernetes_access | default(false) %}
# kubernetes
source <(kubectl completion zsh)
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
{% endif %}

eval "$(ssh-agent -s)"
ssh-add ~/.ssh/id-ansible

# aliases

alias vim=neovim
alias n=neovim